<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-col">
      <div class="flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{name}}" placeholder="Name" />
        </h1>
      </div>
    </div>
  </header>
  <section class="sheet-body">
    <div class="flexrow">
      <div class="stats">
        <div class="form-group block-input">
          <label>{{localize 'WWN.items.Roll'}}</label>
          <div class="form-fields">
            <input type="text" name="data.roll" value="{{data.roll}}" data-dtype="String" />
          </div>
        </div>
        <div class="form-group block-input">
          <label title={{localize 'WWN.spells.ArtSourceHint'}}>{{localize 'WWN.spells.ArtSource'}}</label>
          <div class="form-fields">
            <input type="text" name="data.source" value="{{data.source}}" placeholder="{{localize 'WWN.spells.HighMage'}}" />
          </div>
        </div>
        <div class="form-group">
          <label title="{{localize 'WWN.spells.TimeHint'}}">{{localize
            'WWN.spells.Time'}}</label>
          <div class="form-fields">
            <input type="text" name="data.time" value="{{data.time}}" placeholder="{{localize 'WWN.spells.Scene'}}" />
          </div>
        </div>
        <div class="form-group block-input">
          <div class="form-group block-input">
            <label title={{localize 'WWN.spells.Save'}}>{{localize 'WWN.spells.Save'}}</label>
            <div class=form-fields>
              <select name="data.save">
                {{#select data.save}}
                <option value=""></option>
                {{#each config.saves as |save a|}}
                <option value="{{a}}">{{save}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="description weapon-editor">
        {{editor content=data.description target="data.description" button=true
        owner=owner editable=editable}}
      </div>
    </div>
  </section>
</form>